@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./sass/typography.scss');  
:root {
    --primary-color: #00487b;
    --secondary-color: #1396d3;
    --condensed-font: "Roboto Condensed", sans-serif;
    --heading-font: "Roboto Condensed", sans-serif;
    --body-font: "Roboto", sans-serif;
    --digital-font: "Digital", "Roboto Condensed", "Helvetica", cursive;
    --release-color: #5cb3ee;
    --bugfix-color: #ff8b9f;
    --derash-font: "Noto Serif Ethiopic"
}

body {
    box-sizing: border-box !important;
    background-color: #1d232a;
    height: 100vh;
}

span.border-2 {
    border-collapse: collapse !important;
    outline: none !important;
}
a.btn{
    font-family: var(--body-font) !important;
    text-transform: none !important;
    font-size: smaller;    
    font-weight: normal;
}
.welcome{
    font-family: var(--body-font) !important;
}
#derash{
    font-family: var(--derash-font);
}
#logo{
    font-size: x-large;
    font-weight: bold;
}
/* Animations */
@keyframes blink {
    0% {
        color: white;
    }
    50% {
        color: #3c3c3c;
    }
    100% {
        color: white;
    }
    }

@keyframes bounce {
    0% {
        bottom: 2rem;
    }
    50% {
        bottom: 2.5rem;
    }
    100% {
        bottom: 2rem;
    }
}

@media print {
    body {
        // background-color: white;
        height: 100mm !important;    
        width: 80mm !important;    
    }
}